.WindowHeader#LayoutContainer
{
    min-height: 88;
    border-width: 1;
    overflow: hidden;
    flex-shrink: 0;
}

.WindowHeader#Icon
{
    width: 160;
    height: 160;
    position: absolute;
    left: -32;
    top: -16;
    right: 0;
    bottom: 0;
}

.WindowHeader#TitleContainer
{
    margin-left: 120;
    flex-grow: 1;
    justify-content: center;
}

.WindowHeader#Title
{
    font-size: 28;
    margin: 0;
}

.WindowHeader#Subtitle
{
    font-size: 16;
    margin: 2 0 0;
}