<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18742132590-0sam0cfislgp7m8skdf5vfslj3mpulbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18742132590-0sam0cfislgp7m8skdf5vfslj3mpulbo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>18742132590-590k74qa0q6a83opl1rbgq9koio3jpgf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPR5LplQ3Q3ahVGoUegVThCkue_UsOAxo</string>
	<key>GCM_SENDER_ID</key>
	<string>18742132590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pier.make.story</string>
	<key>PROJECT_ID</key>
	<string>plop-86219436</string>
	<key>STORAGE_BUCKET</key>
	<string>plop-86219436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18742132590:ios:ebe66a160a7fa7dbbccb7f</string>
</dict>
</plist>